# {{ ansible_managed }}
# Do not accept IPv6 default routes on external interfaces
# Setting "all" and "default" does not help, you need to list
# all interfaces here!

{% for interface in ansible_interfaces %}
net.ipv6.conf.{{ interface }}.accept_ra=0
net.ipv6.conf.{{ interface }}.autoconf=0
{% endfor %}
