# {{ ansible_managed }}
#
# This will be passed to all mysql clients
# It has been reported that passwords should be enclosed with ticks/quotes
# escpecially if they contain "#" chars...
# Remember to edit /etc/mysql/debian.cnf when changing the socket location.

[client]
port                    = {{ mariadb_bind_port }}
socket                  = {{ mariadb_socket }}

# Default is Latin1, if you need UTF-8 set this (also in server section)
default-character-set   = {{ mariadb_character_set | default(mariadb_character_set_default) }}
