# {{ ansible_managed }}
# vhost for {{ item.name | d(ansible_hostname+'.'+ansible_domain) }}

server {
    listen 443 ssl{% if item.default | d(False) %} default{% endif %};
    server_name {{ item.name | d(ansible_hostname+'.'+ansible_domain) }};

    ##
    # SSL Settings
    ##

    ssl_prefer_server_ciphers on;
    ssl_protocols {{ nginx_ssl_protocols | join(' ') }};
    ssl_ciphers {{ nginx_ssl_ciphers | join(':') }};

    ssl_session_cache shared:SSL:50m;
    ssl_session_timeout 5m;

    ssl_certificate {{ item.ssl_crt | d('/etc/ssl/certs/ssl-cert-snakeoil.pem') }};
    ssl_certificate_key {{ item.ssl_key | d('/etc/ssl/private/ssl-cert-snakeoil.key') }};
{% if item.ssl_dhparam | d(False) %}

    ssl_dhparam {{ item.ssl_dhparam }};
{% endif %}
{% if item.ssl_stapling | d(False) %}

    ssl_stapling on;
    ssl_trusted_certificate {{ item.ssl_stapling }};
{% endif %}
{% if item.ssl_hsts | d(False) %}

    add_header Strict-Transport-Security "max-age={{ item.ssl_hsts_age | d('15768000') }}; includeSubdomains;";
{% endif %}

    access_log /var/log/nginx/{{ item.name | d(ansible_hostname+'.'+ansible_domain) }}_access.log;
    error_log /var/log/nginx/{{ item.name | d(ansible_hostname+'.'+ansible_domain) }}_error.log;

{% for proxy in item.proxy %}
    location {{ proxy.src | d("/") }} {
        proxy_pass {{ proxy.dest }};
    }
{% endfor %}
}

server {
    listen 80{% if item.default | d(False) %} default{% endif %};
    server_name {{ item.name | d(ansible_hostname+'.'+ansible_domain) }};
    return 301 https://$host$request_uri;
}
