# {{ ansible_managed }}
# vhost for {{ item.name | d(ansible_hostname+'.'+ansible_domain) }}

server {
    listen 443 ssl{% if item.default | d(False) %} default{% endif %};
    listen [::]:443 ssl{% if item.default | d(False) %} default{% endif %};
    server_name {{ item.name | d(ansible_hostname+'.'+ansible_domain) }};

    ##
    # SSL Settings
    ##

    ssl_prefer_server_ciphers on;
    ssl_protocols {{ nginx_ssl_protocols | join(' ') }};
    ssl_ciphers {{ nginx_ssl_ciphers | join(':') }};

    ssl_session_cache shared:SSL:50m;
    ssl_session_timeout 5m;

    ssl_certificate {{ item.ssl_crt | d(pki_snakeoil.cert) }};
    ssl_certificate_key {{ item.ssl_key | d(pki_snakeoil.pkey) }};
{% if item.ssl_dhparam | d(False) %}

    ssl_dhparam {{ item.ssl_dhparam }};
{% endif %}
{% if item.ssl_stapling | d(False) %}

    ssl_stapling on;
    ssl_stapling_verify on;
    ssl_trusted_certificate {{ item.ssl_trusted_certificate | d(pki_ca_bundle) }};
{% endif %}
{% if item.ssl_hsts | d(False) %}

    add_header Strict-Transport-Security "max-age={{ item.ssl_hsts_age | d('15768000') }}; includeSubdomains;";
{% endif %}

    access_log /var/log/nginx/{{ item.name | d(ansible_hostname+'.'+ansible_domain) }}_ssl_access.log;
    error_log /var/log/nginx/{{ item.name | d(ansible_hostname+'.'+ansible_domain) }}_ssl_error.log;

    root {{ item.document_root | d('/var/www/html') }};
    index {{ item.index | d("index.php index.html index.htm") }};
{% if item.php_enabled | d(False) %}

    location ~ \.php$ {
        fastcgi_pass unix:/var/run/php5-fpm.sock;
        fastcgi_index index.php;
        include fastcgi_params;
        fastcgi_param SCRIPT_FILENAME $document_root/$fastcgi_script_name;
    }
{% endif %}

    location ~ /\.ht {
        deny all;
    }
{% if item.alias | d(False) %}
{% for alias in item.alias %}

    location {{ alias.src }} {
        alias {{ alias.dest }};
    }
{% endfor %}
{% endif %}
{% if item.cgi_bin | d(False) %}
{% for cgi_bin in item.cgi_bin %}

    location {{ cgi_bin.location }} {
        gzip off;
        root {{ cgi_bin.root }};
        fastcgi_pass unix:/var/run/fcgiwrap.socket;
        include /etc/nginx/fastcgi_params;
        fastcgi_param SCRIPT_FILENAME {{ cgi_bin.document_root }}$fastcgi_script_name;
    }
{% endfor %}
{% endif %}
{% if item.headers | d(False) %}

{% for header in item.headers %}
    add_header {{ header.name }} "{{ header.value }}";
{% endfor %}
{% endif %}
}

server {
    listen 80{% if item.default | d(False) %} default{% endif %};
    listen [::]:80{% if item.default | d(False) %} default{% endif %};
    server_name {{ item.name | d(ansible_hostname+'.'+ansible_domain) }};
{% if item.acme | d(False) %}

    location ~ /.well-known/acme-challenge/ {
        root /var/www;
    }
{% endif %}
{% if item.status | d(False) %}

    location {{ item.status.page }} {
        stub_status on;
        access_log off;
{% for allow in item.status.allows %}
        allow {{ allow }};
{% endfor %}
        deny all;
    }
{% endif %}

    location / {
        return 301 https://$host$request_uri;
    }
}
