## {{ ansible_managed }}

# Read Apache status information (mod_status)
[[inputs.apache]]
  ## An array of Apache status URI to gather stats.
  ## Default is "http://localhost/server-status?auto".
  urls = ["http://localhost/server-status?auto"]
