## {{ ansible_managed }}

# Ping given url(s) and return statistics
[[inputs.ping]]
  ## NOTE: this plugin forks the ping command. You may need to set capabilities
  ## via setcap cap_net_raw+p /bin/ping
  #
  ## urls to ping
  urls = [
    "{{ telegraf_plugin_ping.urls | join('", "') }}"
  ]
  ## number of pings to send per collection (ping -c <COUNT>)
  count = {{ telegraf_plugin_ping.count | default("1") }}
  ## interval, in s, at which to ping. 0 == default (ping -i <PING_INTERVAL>)
  ping_interval = {{ telegraf_plugin_ping.interval | default("0.0") }}
  ## per-ping timeout, in s. 0 == no timeout (ping -W <TIMEOUT>)
  timeout = {{ telegraf_plugin_ping.timeout | default("1.0") }}
  ## interface to send ping from (ping -I <INTERFACE>)
  interface = "{{ telegraf_plugin_ping.interface | default("") }}"
