## {{ ansible_managed }}

# Read metrics from one or many postgresql servers
[[inputs.postgresql]]
  ## specify address via a url matching:
  ##   postgres://[pqgotest[:password]]@localhost[/dbname]\
  ##       ?sslmode=[disable|verify-ca|verify-full]
  ## or a simple string:
  ##   host=localhost user=pqotest password=... sslmode=... dbname=app_production
  ##
  ## All connection parameters are optional.
  ##
  ## Without the dbname parameter, the driver will default to a database
  ## with the same name as the user. This dbname is just for instantiating a
  ## connection with the server and doesn't restrict the databases we are trying
  ## to grab metrics for.
  ##
  address = "{{ telegraf_plugin_postgresql.address | default("host=localhost user=postgres sslmode=disable") }}"

  ## A list of databases to pull metrics about. If not specified, metrics for all
  ## databases are gathered.
{% if telegraf_plugin_postgresql.databases is defined %}
  databases = [
{% for database in telegraf_plugin_postgresql.databases %}
    "{{ database }}",
{% endfor %}
  ]
{% else %}
  ignored_databases = [
{% for database in telegraf_plugin_postgresql.ignored_databases | d(['postgres', 'template0', 'template1']) %}
    "{{ database }}",
{% endfor %}
  ]
{% endif %}

# vim: set sw=2 ts=2 et wrap tw=76 :
