{% include "header.j2" %}

{% if item.hwaddress | default(False) -%}
HWADDR="{{ item.hwaddress }}"
{% endif -%}
{% if item.master is defined and item.slave is defined -%}
MASTER="{{ item.master }}"
SLAVE={{ item.slave }}
{% endif -%}
{% if item.bridge is defined -%}
BRIDGE={{ item.bridge }}
{% endif -%}

{% include "ipv4.j2" %}
{% include "ipv6.j2" %}
